/.idea
/.ipynb_checkpoints
/.vscode
/1.py
/a failed try for Spring mass damper simulation.ipynb
/Astronomy workshop
/CME
/data science course
/Image processing (openCV)
/Natural Language Processing of Movie Reviews using nltk
/Practice_oop.ipynb
/python books
/python Cheaat sheets
/SDSS
budget_app_oop_practice/budget.py
budget_app_oop_practice/budget.ipynb
budget.py
